@Scripts.Render("~/bundles/jQuery")
@model DotNet.Highcharts.Highcharts
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
@*@model IEnumerable<MonthlyBudgetCalculator.Models.Budget>*@
@{
    ViewBag.Title = "Charts";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Application Users", "Index", "BudgetUsers")</a>
</p>
<h5 class="text-info">Budget Analysis Charts</h5>
<h6>*Analysis of all budget details for application user</h6>

@(Model)


